<div id="footer">
  <div class="container">
    <div class="row" style="padding-top:2px;">
      <div class="col-md-4" style="padding-top:3px;"><p class="text-left" style="margin:0;font-size: 11px;">Hosted on GitHub Pages</p></div>
      <div class="col-md-4"><p class="text-center" style="margin:0">
        <a href="https://twitter.com/intent/tweet?button_hashtag=Scamandrill" class="twitter-hashtag-button" data-related="DiegoZambelliS" data-url="https://github.com/dzsessona/sbt-neo-dependencies">Tweet #Scamandrill</a>
      </div>
      <div class="col-md-4"
      style="padding-top:2px;"><p class="text-right" style="margin:0;font-size: 11px;">Project maintained by 
        <a href="https://github.com/{{ site.github.author }}"
        style="color: #000; font-size:12px;"><strong>dzsessona</strong></a>
        <a href="https://twitter.com/DiegoZambelliS" style="color: #55ACEE"><i class="fa fa-twitter fa-lg"></i></a>
        <a href="https://ie.linkedin.com/in/diegozambellisessona/" style="color: #1A84BC"><i class="fa fa-linkedin-square fa-lg"></i></a>
      </p></div>
    </div>
  </div>
</div>
